*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#273F4F ;
}
h1{
    text-align: center;
    text-decoration: underline;
}
.form{
    background-color:#EFEEEA;
    padding: 1.5rem;
    padding-bottom: 0;
    border-radius: 1rem;
    height: 500px;
    width: 400px;
    box-shadow: 4px 4px 50px 20px  black;
}
.amt{
    text-align: center;
    margin-top:2.5rem ;


}
.amt p{
    font-size:1.3rem ;
}
.amt input{
    width: 95%;
    height: 2.5rem;
    text-align: left;
    border-radius: 0.4rem;
    padding-left: 7px;
    margin-top: 0.6rem;
    font-size: 1rem;

}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
}

i{
    font-size: 1.5rem;
    cursor: pointer;
}
i:active{
    opacity: 40%;
    cursor: pointer;
}

img{
    height: 3.4rem;
}

.from{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;

}
.dropdown select{
    font-size: 1.29rem;
    border-radius: 4px;
    background-color: #273F4F ;
    color: white;
    width: 4rem;
    height: 2.3rem;
}

.to{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;

}

.msg{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 3rem;
}
button{
    height: 3.4rem;
    width: 57%;
    border-radius: 0.6rem;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 3rem;
    background-color: #273F4F;
    color: white;
    border: 2px solid black;
}
button:active{
    opacity: 50%;
}

#copy{
    margin-top: 1.5rem;
    font-size: 0.9rem;
}


@media screen and (max-width: 600px) {
    #copy{
    margin-bottom: 0rem;
    font-size: 0.9rem;
    }
    .form{
    padding-bottom: 0.4rem;
    border-radius: 1rem;
    width: 85%;
    height: auto;
    box-shadow: 2px 2px 40px 20px  black;  
    }
    button{
    height: 3.2rem;
    width: 65%;
    }
    .amt input{
    width: 100%;
    height: 2.5rem;
    }
}